@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas
@model Sucursal

@{
}
@if (@Model != null)
{
}

@* *** REUBICAR *** *@
<div class="ibox">
    <div class="ibox-content widget-text-box w-100">
        <h4 class="media-heading">Detalle</h4>
        <h1 class="no-margins">Nombre Sucursal</h1>
    </div>
    <div class="ibox-footer">
        <small>Direccion</small>
        <div class="stat-percent font-bold text-navy"><i class="fa fa-city"></i></div>
    </div>
</div>