@{
    ViewData["Title"] = "Sucursal";
    Layout = "_Layout";

    var title = "Bienvenido";
}

@model DashboardSucursalModel

<div class="row wrapper border-bottom white-bg page-heading navegacion">
    <div class="col-xl-8 col-lg-6">
        <h2>@title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard", new { area = "sucursal" })">Home</a>
            </li>
        </ol>
    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end p-lg-0" style="text-align:right">

    </div>
    <div class="col-xl-2 col-lg-3 mt-1 mt-sm-2 d-flex justify-content-end align-items-end" style="text-align:right">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-4">
            <div id="InfoSucursalPartialView">
                <partial name="_InfoSucursalIndexTable.cshtml" model="Model.Sucursal" />
            </div>
        </div>
        <div class="col-lg-8">
            <div id="MasVendidoPartialView">
                <partial name="_MasVendidoIndexTable.cshtml" model="Model.MasVendidos" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="StockBajoArticulosPartialView">
                <partial name="_StockBajoArticulosIndexTable.cshtml" model="Model.StockBajo" />
            </div>
        </div>
        <div class="col-lg-6">
            <div id="UltimmosMovimientosPartialView">
                <partial name="_UltimmosMovimientosIndexTable.cshtml" model="Model.UltimosMovimientos" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="MasVendidoPartialView">
                <partial name="_UltimasVentasIndexTable.cshtml" model="Model.UltimasVentas" />
            </div>
        </div>
    </div>

</div>

@section Styles {
}

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
        });
    </script>

    <script type="text/javascript">

        var minheight_InfoSucursal = $('#MasVendidoPartialView').height();
        $('#InfoSucursalPartialView .ibox .ibox-content').attr('style', 'height:' + minheight_InfoSucursal * 0.8 + 'px;')

    </script>

    <script type="text/javascript">
        //prevent the form from doing a submit
        $(document).on('submit', '.validateDontSubmit', function (e) {
            e.preventDefault();
            return false;
        });

    </script>

}


