
.footable-row-detail-value {
    display: table-cell;
    width: 100% !important;
}


@media print {
    .no-print, .dataTables_info, .ibox-title, .pagination, .html5buttons, .navegacion, footer, .no-print *{
        display: none !important;
    }

    .gray-bg {
        background-color: #ffffff !important;
    }
}

::-webkit-scrollbar {
    width: calc(0.15rem + 0.25vh + 0.25vw);
    height: calc(0.15rem + 0.25vh + 0.25vw);
}

::-webkit-scrollbar-track {
    background: #eaeaea;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
}


.overflow-100vh {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    max-height: 100vh !important;
} 