@using HtmlHelpers.BeginCollectionItemCore
@model ProveedorArticulo
@{
    //bool esEditar = (Model.Id != 0);
    //string idTr = esEditar ? Model.Id + "List" : "";
}


@if (Model != null)
{
    <tr @*id="@idTr*@>
        <td>@Model.Articulo.Nombre</td>
        <td>@Model.Precio</td>
        <td>
            <button class=" btn btn-outline btn-primary  btn-xs " type="button" onclick="eliminarDetalleArticulo(this, @Model.Id)">Borrar</button>
        </td>
    </tr>
}
