@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas.Fabrica.Models
@model ProveedorInsumo
@{
    //bool esEditar = (Model.Id != 0);
    //string idTr = esEditar ? Model.Id + "List" : "";
}


@if (Model != null)
{
    <tr @*id="@idTr*@>
        <td>@Model.Insumo.Nombre</td>
        <td>@Model.Precio</td>
        <td>
            <button class=" btn btn-outline btn-primary  btn-xs " type="button" onclick="eliminarDetalleInsumo(this, @Model.Id)">Borrar</button>
            @*@if (!esEditar)
                {
                    <button class=" btn btn-outline btn-danger  btn-xs " type="button" onclick="removeRow(this)">Borrar</button>
                }
                else
                {
                    <button class=" btn btn-outline btn-primary  btn-xs " type="button" onclick="eliminarDetalleInsumo(this, @Model.Id)">Borrar</button>
                }*@
        </td>
    </tr>
}
