@{
    var totalPagado = Model?.Sum(x => x.MontoPercibido);
}

@model IEnumerable<ClienteCuentaCorriente>


@if (Model != null && Model.Any())
{
    <h3 class="mt-2" style="text-align: center;">Pagos</h3>
    <div class="table-responsive">
        <table class="footable table table-stripped table-hover table-bordered no-paging toggle-arrow-tiny" style="background: #ffffff;" data-page-size="4">
            <thead>
                <tr>
                    <th># Venta</th>
                    <th>Monto Pagado</th>
                    <th>Tipo de Pago</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pago in Model)
                {
                    <tr>
                        <td>@pago.IdVenta</td>
                        <td>@pago.MontoPercibido</td>
                        <td>@pago.TipoPago</td>
                        <td>@(pago.FechaModificacion != null ? pago.FechaModificacion : pago.FechaCreacion)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination float-right"></ul>
                    </td>
                </tr>

            </tfoot>
        </table>
        <h4>Total Pagado: $@totalPagado</h4>
    </div>
}