
<div class="row m-b-md border-bottom white-bg dashboard-header animated fadeInRight">
    <div class="col-sm-6">
        <h2>Hoy</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@ViewBag.SolicitudesHoy</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">10</span> Solicitud Produccion Realizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">0</span> Produccion Enviadas
            </li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h2>Ultimos 7 días</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="label label-warning">@ViewBag.SolicitudesSemana</span> Solicitudes Recibidas
            </li>
            <li class="list-group-item">
                <span class="label label-info">50</span> Producciones Realizadas
            </li>
            <li class="list-group-item">
                <span class="label label-primary">105</span> Productos Enviados
            </li>
        </ul>
    </div>
</div>