@using HtmlHelpers.BeginCollectionItemCore
@using Web.Site.Areas

@model IEnumerable<Insumo>
@{

}


<div class="ibox">
    <div class="ibox-title">
        <h5>Insumos con stock bajos</h5>
        <div class="ibox-tools">
        </div>
    </div>
    <div class="ibox-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>                     
                            <td class="text-danger">@item.StockTotal Unidades</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
